[Unit]
Description=KillMyWatt

[Service]
TimeoutStartSec=0
ExecStartPre=/bin/sleep 20
ExecStart=/opt/killmywatt/killmywatt.py

[Install]
WantedBy=multi-user.target
